
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ksiazkowo</title>
    <meta name="keywords" content="książka, książki, lektura" />
    <meta name="description" content="Strona główna" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">


</head>
<body>



    <div class="containerr">

        <table>
            <tbody>

                <tr>
                    <th><img src="~/images/mises.jpg"></th>
                    <th><img src="~/images/wpokladka.jpg"></th>
                    <th><img src="~/images/mountains.jpg"></th>
                    <th><img src="~/images/Edukacja.jpg"></th>
                </tr>

                <tr id="book-title">
                    <th>Ludzkie działanie</th>
                    <th>Władca pierścieni</th>
                    <th>Ekonomia dla każdego</th>
                    <th>Ekukacja wolna i przymuszona</th>
                </tr>

                <tr id="book-description">
                    <th>Książka, która czekała na polskie wydanie prawie 60 lat (pierwsze wydanie oryginału Human Action 1949). Opus magnum nestora austriackiej szkoły ekonomii Ludwiga von Misesa. Chłodna, rzeczowa rozprawa z socjalizmem, interwencjonizmem i wszelkimi odmianami pseudoekonomii.</th>
                    <th>W zamierzchłych czasach kowale elfów wykuli Pierścienie Mocy. Lecz Mroczny Władca, stworzył w tajemnicy Jedyny Pierścień, aby rządził pozostałymi. Ale Pierścień zniknął na wiele wieków w Śródziemiu, zanim trafił w ręce hobbita, którego przeznaczeniem stało się jego zniszczenie...</th>
                    <th>Mimo kilkunastu lat tzw. transformacji ustrojowej, obowiązującą doktryną społeczno-ekonomiczną pozostaje w polsce socjalizm czyli system, w którym państwo jest wszystkim, a obywatel nikim. Otwarcie nikt tego rzecz jasna nie twierdzi, w rzeczywistości jednak społeczeństwo – w sferze gospodarczej – podporządkowane jest woli urzędników. </th>
                    <th>„Indywidualizm jest tłamszony uczeniem dostosowywania się do „grupy”. (…) W rezultacie dzieci są uczone, by doszukiwać się prawdy raczej w opinii większości, niż we własnym, niezależnym rozumowaniu lub w opiniach specjalistów najlepszych w danej dziedzinie.</th>
                </tr>

                <tr>
                    <th>Więcej >>></th>
                    <th>Więcej >>></th>
                    <th>Więcej >>></th>
                    <th>Więcej >>></th>
                </tr>

            </tbody>
        </table>



        <a id="top"><h3>TOP 10 książek</h3></a>


        <ol id="list">
            <li><a href="wladcaPierscieni.html">Władca pierścieni</a></li>
            <li id="second-place"> Draga królów</li>
            <li id="third-place"> Siła nawyku</li>
            <li> Ekonomia dla każdego</li>
            <li> Ludzkie działanie</li>
            <li> Szkoła austriacka</li>
            <li> Bieda i bogactwo</li>
            <li> Ogniem i mieczem</li>
            <li> Trudne czasy</li>
            <li> Szkice piórkiem</li>
        </ol>

        <h2>Rekomendacje</h2>

        <div class="container-recommended">
            <div class="recomended-book">
                <img src="~/images/mises.jpg">
                <p>Książka, która czekała na polskie wydanie prawie 60 lat (pierwsze wydanie oryginału Human Action 1949). Opus magnum nestora austriackiej szkoły ekonomii Ludwiga von Misesa. Chłodna, rzeczowa rozprawa z socjalizmem, interwencjonizmem i wszelkimi odmianami pseudoekonomii.</p>
            </div>
            <div class="recomended-book">
                <img src="~/images/mises.jpg">
                <p>Książka, która czekała na polskie wydanie prawie 60 lat (pierwsze wydanie oryginału Human Action 1949). Opus magnum nestora austriackiej szkoły ekonomii Ludwiga von Misesa. Chłodna, rzeczowa rozprawa z socjalizmem, interwencjonizmem i wszelkimi odmianami pseudoekonomii.</p>
            </div>
            <div class="recomended-book">
                <img src="~/images/mises.jpg">
                <p>Książka, która czekała na polskie wydanie prawie 60 lat (pierwsze wydanie oryginału Human Action 1949). Opus magnum nestora austriackiej szkoły ekonomii Ludwiga von Misesa. Chłodna, rzeczowa rozprawa z socjalizmem, interwencjonizmem i wszelkimi odmianami pseudoekonomii.</p>
            </div>
            <div class="recomended-book">
                <img src="~/images/mises.jpg">
                <p>Książka, która czekała na polskie wydanie prawie 60 lat (pierwsze wydanie oryginału Human Action 1949). Opus magnum nestora austriackiej szkoły ekonomii Ludwiga von Misesa. Chłodna, rzeczowa rozprawa z socjalizmem, interwencjonizmem i wszelkimi odmianami pseudoekonomii.</p>
            </div>
        </div>


        <br /><br />

        <strong>Kontakt</strong>
        <br>
        <span>
            ✉ <a href="mailto:email@server.com" title="Napisz do nas">email@server.com</a>
            <br>
            ☎ 226123456
        </span>

        <br><br>
        <details>
            <summary>Copyright 1999-2018.</summary>
            <p> - by Ksiazkowo. All Rights Reserved.</p>
            <p>
                All content on this web site is the property of the company Ksiazkowo.
            </p>
        </details>

    </div>
    <script type="text/javascript" src="/Scripts/index.js"></script>
</body>

</html>

