
@{
    ViewBag.Title = "Newsletter";
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Rejestracja</title>
    <meta name="description" content="Polecane książki do przeczytania" />
    <meta name="keywords" content="książka, książki, lektura" />
    <link rel="stylesheet" href="~/Content/newsletter.css" type="text/css" />

</head>
<body>

    <div class="containerr">
        <h1 style="font-size: 36px">Rejestracja</h1>
        <h2><a href="~/newsletter.aspx">Zapisz się już dziś</a></h2>

    </div>
    

</body>
</html>