* {
    color: white;
}

body {
    margin: 0;
    background-image: url("/images/bible.jpg");
    background-size: cover;
}



.containerr {
    width: 940px;
    height: 1200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: grey;
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    /*background-origin: border-box;*/
    background-position: center;
    background-size: 300px 300px;
    /*font-family: "Liberation Sans", Helvetica, sans-serif;*/
}

.container-arial {
    font-family: Arial;
}

.container-times {
    font-family: Helvetica, monospace;
}

.container-helvetica {
    font-family: Helvetica;
}

/*.container-verdana{*/
/*font-family: "DejaVu Sans", sans-serif;*/
/*}*/

@media only screen and (max-width: 1000px) {
    .container {
        background-color: black;
        width: 100%;
    }
}

h1 {
    text-shadow: 2px 2px white;
}

div:empty {
    background: radial-gradient(white 33%, black 66%);
    width: 100%;
    height: 50px;
}



.columns {
    margin-top: 400px;
    columns: 250px 3;
    column-rule: 1px solid #ccc;
    column-gap: 3em;
}

    .columns p {
        margin-top: 0;
    }

#linear-gradient {
    background: linear-gradient(to right, black 0%, white 100%);
}

#lorem1 {
    border: 2px solid rgba(192,192,192,1);
    padding: 10px;
    border-radius: 25px;
}

#lorem2 {
    border: 2px solid hsl(328, 0%, 68%);
    padding: 10px;
    border-radius: 50px 50px 30px 30px;
}
